/* App.css -> global */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'allAges';
  src: url('/fonts/AllAgesDemo-2DPX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.merriweather-sans-body-text {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  display: flex;
  font-family: "Merriweather Sans", sans-serif;
	font-size: 1.2em;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
}
a:hover {
	color: red;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
	h1 {
		font-family: 'allAges', sans-serif;
	}
ul {
	list-style: none;
	padding-left: 0px; /* REMOVES DEFAULT padding FOR BULLETS */
}
li {
}

/* _navigation */
.call_to_action {
	display: flex;
	justify-content: center;	
	font-size: 2em;
	width: auto;
}
	ul.call_to_action li {
		margin: .2em;
	}
a.button {
	padding: 1px 6px;
	border: 3px outset buttonborder;
	border-radius: 3px;
	color: buttontext;
	background-color: grey;
	text-decoration: none;
}
	a.button:hover {
		background-color: lightgrey;
	}
	a.button:active {
		background-color: lightgrey;
	}
	@media only screen and (max-device-width: 481px) { 
		.call_to_action {
			flex-direction: column;
		}
	}

/* App */
.main_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.splash_section img {
	width: 50%;
}
	/* iPhone */
	@media only screen and (max-device-width: 481px) {
		.splash_section img {
			margin-bottom: 2em;
			width: 90%;
		}
	}	
/* _team */
.team_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
	.team_section p {
		margin-left: 2em;
		margin-right: 2em;
		text-align: left;
	}
	@media only screen and (max-device-width: 481px) {
		.team_section p {
			margin: 0em;
		}
	}
	.headshots {
/*		width: 400px*/
		width: 40%;
	}	
	@media only screen and (max-device-width: 481px){
		.headshots {
			width: 90%;
		}
	}	

/* PAGE COLORS */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* RESPONSIVE */

/* iPhone */
@media only screen and (min-device-width: 480px){

}
