/* index.css -> by Component */
/*@font-face {
  font-family: 'allAges';
  src: url('/needleinthehayfilm/fonts/AllAgesDemo-2DPX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
